@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <br/>
        @*<h4>Don't forget to launch the SamplePDP using dnx web!</h4>*@
        <div class="form-group">
            <label>Enter your Jwt token here:</label>
            <button class="btn btn-default btn-xs" onclick="clearToken()">Clear</button>
            <a href="http://jwtbuilder.jamiekurtz.com/" target="_blank">Generate a jwt</a>
            <textarea class="form-control" id="jwttoken" rows="10"></textarea>
        </div>

        <h4>Resources on the tickets endpoint use AuthorizeByConvention and AuthorizeWith attributes.</h4>

        <div class="form-group">
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets', 'GET')" data-toggle="tooltip" data-placement="top" title="Permission read-ticket is required">Read ticket</button>
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets', 'POST')" data-toggle="tooltip" data-placement="top" title="Permission create-ticket is required">Create ticket</button>
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets', 'PUT')" data-toggle="tooltip" data-placement="top" title="Permission update-ticket is required">Update ticket</button>
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets', 'DELETE')" data-toggle="tooltip" data-placement="top" title="Permission delete-ticket is required">Delete ticket</button>
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets/getActionWithCustomPermission', 'GET')" data-toggle="tooltip" data-placement="top" title="Permission permission-125 is required">GetActionWithCustomPermission</button>
            <button type="button" class="btn btn-default" onclick="executeCustomBasedRequest('Tickets/AllowAnonymous', 'GET')" data-toggle="tooltip" data-placement="top" title="No permission is required">Anonymous</button>
        </div>

        <h4>Resources on the persons endpoint use the default Miscosoft.AspNet Authorization possibilities.</h4>

        <div class="form-group">
            <button class="btn btn-default" onclick="executeCustomBasedRequest('Persons', 'GET')">Read person</button>
            <button class="btn btn-default" onclick="executeCustomBasedRequest('Persons', 'POST')">Create person</button>
            <button class="btn btn-default" onclick="executeCustomBasedRequest('Persons', 'PUT')">Update person</button>
            <button class="btn btn-default" onclick="executeCustomBasedRequest('Persons', 'DELETE')">Delete person</button>
            <button class="btn btn-default" onclick="executeCustomBasedRequest('Persons/AllowAnonymous', 'GET')">Anonymous</button>
        </div>

        <div class="form-group">
            <label>Result:</label>
            <p class="bg-success" id="response"></p>
            <p class="bg-danger" id="error"></p>
        </div>
    </div>

</div>

@section scripts{
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    $("#jwttoken").val(getCookie("jwt"));

    setResponse = function (response) {
        $('#response').html(response);
        $('#error').html('');
    };

    setError = function (error) {
        $('#error').html(error.statusText);
        $('#response').html('');
    };

    executeCustomBasedRequest = function (endpoint, httpMethod) {

        var jwt = $("#jwttoken").val();

        $.ajax("http://localhost:51020/api/" + endpoint, {
            method: httpMethod,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + jwt);
            }
        }).then(function (response) { setResponse(response); })
          .fail(function (error) { setError(error); });
    };

    clearToken = function () {
        $("#jwttoken").val('');
    };

</script>
}
